header {
    max-height: 120px;
}

#ask-button {
    font-weight: bold;
    font-family: "Helvetica", "sans-serif";
    max-width: 100px;
}

.user-icon {
    border-radius: 50%;

    align-items: center;
    float: left;
}


.auth-button:hover {
    background-color: #ECECEC;
    border-radius: 15px;
}
