{% extends 'layouts/base.html' %}


{% block content %}
    <div class="fs-2 mt-5" style="font-weight: 600">New Question</div>
    <form class="mt-4 fs-5 pe-5">
        <div class="form-group my-3">
            <label for="titleInput" class="mb-1">Title</label>
            <input type="text" class="form-control" id="titleInput"
                   placeholder="How to build a moon park?" required>
        </div>
        <div class="form-group my-3">
            <label for="FormControlTextarea1" class="mb-1">Text</label>
            <textarea class="form-control" id="FormControlTextarea1" rows="10"
                      placeholder="Really, how? Have no idea about it." required></textarea>
        </div>
        <div class="form-group my-3">
            <label for="tagsInput" class="mb-1">Tags</label>
            <input type="text" class="form-control" id="tagsInput"
                   placeholder="moon, park, puzzle">
        </div>
        <div class="row mt-5">
            <button class="btn btn-success rounded-pill px-5 ms-2 d-flex justify-content-center" type="submit"
                    style="font-weight: 600; max-width: 32px">Submit
            </button>
        </div>
    </form>


{% endblock %}


