<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>

    <title>NoAnswerHere</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/header.css" rel="stylesheet">

</head>
<body class="d-flex flex-column h-100">

<header class="py-3 mb-3 border-bottom fixed-top bg-body">
    <div class="container-fluid d-grid gap-1 align-items-center"
         style="grid-template-columns: 0.75fr 0.05fr 1.75fr 0.5fr 0.5fr;">
        <a class="text-decoration-none fs-5 align-content-start ms-lg-auto me-lg-4"
           style="font-weight: 600; color: black" href="index.html">
            No Answer Here
        </a>

        <div></div>
        <div class="d-flex align-items-center">
            <form class="w-100 me-3" role="search">
                <input type="search" class="form-control bg-body-tertiary" placeholder="Search..." aria-label="Search"
                       style="border-radius: 48px">
            </form>
        </div>
        <a href="ask.html" class="text-decoration-none">
            <button class="btn btn-success rounded-pill px-5 d-flex justify-content-center" type="button"
                    id="ask-button">ASK
            </button>
        </a>

        <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle me-lg-auto"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../static/images/proger.png" alt="proger" width="36" height="36" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow" style="">
                <li><a class="dropdown-item" href="settings.html">Settings</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>

        </div>
    </div>
</header>

<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="fs-2 mt-5" style="font-weight: 600">New Question</div>
                <form class="mt-4 fs-5 pe-5">
                    <div class="form-group my-3">
                        <label for="exampleFormControlInput1" class="mb-1">Title</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                               placeholder="How to build a moon park?">
                    </div>
                    <div class="form-group my-3">
                        <label for="exampleFormControlTextarea1" class="mb-1">Text</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"
                                  placeholder="Really, how? Have no idea about it."></textarea>
                    </div>
                    <div class="form-group my-3">
                        <label for="exampleFormControlInput1" class="mb-1">Tags</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                               placeholder="moon, park, puzzle">
                    </div>
                </form>
                <div class="row mt-5">
                    <a href="ask.html" class="text-decoration-none">
                    <button class="btn btn-success rounded-pill px-5 d-flex justify-content-center" type="button" style="font-weight: 600">ASK!
                    </button>
                </a>
                </div>

            </div>
            <div class="col-3">
                <div class="tags">
                    <div class="header">
                        Popular Tags
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-primary tag">perl</button>
                        <button type="button" class="btn btn-outline-secondary tag">python</button>
                        <button type="button" class="btn btn-outline-success tag">TechnoPark</button>
                        <button type="button" class="btn btn-outline-danger tag">MySQL</button>
                        <button type="button" class="btn btn-outline-warning tag">django</button>
                        <button type="button" class="btn btn-outline-info tag">Mail.Ru</button>
                        <button type="button" class="btn btn-outline-dark tag">Voloshin</button>
                        <button type="button" class="btn btn-outline-primary tag">Firefox</button>
                    </div>
                </div>
                <div class="best-members">
                    <div class="header">
                        Best Members
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="">Mr. Freeman</a></li>
                        <li class="list-group-item"><a href="">Dr. House</a></li>
                        <li class="list-group-item"><a href="">Bender</a></li>
                        <li class="list-group-item"><a href="">Queen Victoria</a></li>
                        <li class="list-group-item"><a href="">V. Pupkin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="../static/js/bootstrap.bundle.min.js"></script>

</body>
</html>
