{% extends 'layouts/base.html' %}

{% block content %}


    <div class="header">
        {% if is_hot %}
            <a href="{% url 'index' %}" class="pe-3">New Questions</a>
            Hot Questions
        {% else %}
            New Questions
            <a href="{% url 'hot' %}" class="pe-3">Hot Questions</a>
        {% endif %}
    </div>
    {% for question in questions %}
        {% include 'components/question-item.html' %}
    {% endfor %}


    {% include 'components/pagination-block.html' with page_obj=questions %}
{% endblock %}
