{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="row mt-5" style="padding: 10px; margin-top: 10px">
        <div class="col-2 question-image">
            <div class="row"><img src="{{ question.question_author.avatar.url }}" alt="user_icon" class="img-thumbnail">
            </div>
            <div class="row">
                <div class="user-rating-block d-flex justify-content-center">
                    <div class="col-5 d-flex justify-content-end">
                        <button class="user-rating-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor"
                                 class="bi bi-chevron-double-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"></path>
                                <path fill-rule="evenodd"
                                      d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"></path>
                            </svg>
                        </button>
                    </div>

                    <div class="col-2 font-monospace d-flex justify-content-center">
                        {{ question.question_rating }}
                    </div>
                    <div class="col-5 d-flex justify-content-start">
                        <button class="user-rating-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                                <path fill-rule="evenodd"
                                      d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                            </svg>
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-10 question-text-block">
            <h2>{{ question.title }}</h2>
            <p>{{ question.question_body }}
            </p>
            <div class="row">
                <div class="question-tags">
                    Tags:
                    {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tag_name=tag %}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>


        </div>

    </div>
    <br>
    {% if is_authorized %}
    <div class="card-footer py-3 border-0 mt-5" style="padding: 20px">
        <div class="d-flex flex-start w-100">
            <div class="form-outline w-100">
                            <textarea class="form-control" id="textAreaExample" rows="4"
                                      style="background: #fff;" placeholder="Enter your answer here..."></textarea>
                <label class="form-label" for="textAreaExample" style="margin-left: 0;">
                    <div class="float-start mt-2 pt-1">
                        <button type="button" class="btn btn-success btn-lg">
                            Answer
                        </button>
                    </div>
                </label>
                <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;"></div>
                    <div class="form-notch-middle" style="width: 60px;"></div>
                    <div class="form-notch-trailing"></div>
                </div>
            </div>
        </div>

    </div>
    {% endif %}
    <hr class="border-1">


    {% for answer in answers %}
        {% include 'components/question-answer.html' %}
    {% endfor %}

    {% include 'components/pagination-block.html' with page_obj=answers %}

{% endblock %}


