{% extends 'layouts/base.html' %}
{% block content %}

<div class="fs-2 mt-5" style="font-weight: 600">Register</div>
<form class="mt-4 fs-5">
    <div class="form-row my-auto my-3">
        <div class="form-group col-md-6">
            <label for="inputNick4" class="form-label">Login*</label>
            <input class="form-control" id="inputNick4" placeholder="Login" required>
        </div>
    </div>

    <div class="form-row my-3">
        <div class="form-group col-md-6">
            <label for="inputEmail4" class="form-label">Email*</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
        </div>
    </div>

    <div class="form-row my-3">
        <div class="form-group col-md-6">
            <label for="inputPass4" class="form-label">Password*</label>
            <input class="form-control" id="inputPass4" placeholder="Password" required>
        </div>
    </div>

    <div class="form-row my-3">
        <div class="form-group col-md-6">
            <label for="inputRepeatPass4" class="form-label">Repeat password*</label>
            <input class="form-control" id="inputRepeatPass4" placeholder="Password" required>
        </div>
    </div>

    <div class="form-row mt-5">
        <div class="form-group col-md-6">
            <label for="uploadAvatar4" class="mb-2">Upload Avatar</label>
            <input class="form-control form-control-lg" id="uploadAvatar4" type="file">
            <div class="small text-muted mt-1">Upload your Avatar (png, jpg, jpeg, etc.). Max
                file size 10
                MB
            </div>
        </div>
    </div>

    <div class="form-group mt-5">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                I agree to the <a href="">terms of using</a>.
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3 ps-3 pe-3 justify-content-center">Register</button>
</form>

{% endblock %}