{% load static %}
<div class="row question align-items-center">
    <div class="col-2 question-image">
        <div class="row"><img src="{% static 'images/proger.png' %}" alt="user_icon" class="img-thumbnail">
        </div>
        <div class="row">
            <div class="user-rating-block d-flex justify-content-center">
                <div class="col-5 d-flex justify-content-end">
                    <button class="user-rating-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor"
                             class="bi bi-chevron-double-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"></path>
                            <path fill-rule="evenodd"
                                  d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"></path>
                        </svg>
                    </button>
                </div>

                <div class="col-2 font-monospace d-flex justify-content-center">
                    10
                </div>
                <div class="col-5 d-flex justify-content-start">
                    <button class="user-rating-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                            <path fill-rule="evenodd"
                                  d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                        </svg>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="col-10 question-text-block">
        <h2><a href="{% url 'question' question_id=question.id %}">{{ question.title }}</a></h2>
        <p>{{ question.content }}
        </p>
        <div class="row">
            <div class="col-3">
                <a href="{% url 'question' question_id=question.id %}">
                    <button class="question-answer-button">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor"
                             class="bi bi-chat-square-text" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                            <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"></path>
                        </svg>
                        {{ question.answers_count }}

                    </button>
                </a>


            </div>
            <div class="col-9 question-tags">
                Tags:
                {% for tag in question.tags %}
                <a href="{% url 'tag' tag_name=tag %}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>


    </div>
</div>
<hr class="border-1">